<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login | Biblioteca Digital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">
</head>
<body>

<header>
    <h1>Biblioteca Digital</h1>
    <nav>
        <a href="{{ url_for('index') }}">Início</a>
        <a href="{{ url_for('register') }}">Cadastrar</a>
    </nav>
</header>

<section class="hero">
    <h2>Entrar</h2>
    <p>Acesse sua biblioteca digital.</p>

    <form method="POST" class="form-box">
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="number" name="idade" placeholder="Idade" required>
        <button type="submit">Entrar</button>
    </form>

    {% if erro %}
    <p class="error-msg">{{ erro }}</p>
    {% endif %}

    <form action="{{ url_for('index') }}" method="get">
        <button class="secondary-btn" type="submit">Voltar para Início</button>
    </form>
</section>

<footer>
    <p>© 2026 Biblioteca Digital • Projeto educacional</p>
</footer>

</body>
</html>